* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth !important;
}

main {
    width: 100%;
    scroll-behavior: smooth !important;
}

html {
    scroll-behavior: smooth !important;
}

/* HEADER */

header {
    width: 100vw; 
    position: fixed;

}

.header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.822) 0%, rgba(15, 15, 15, 0.014) 100%);
    height: 140px;
    display: flex;
    padding: 0 12%;
    justify-content: space-between;
    border-top: 1px solid purple;
    align-items: center;
    z-index: 20000;
}

.header img {
    width: 110px;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

.navcontainer{
    color: white;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 30px;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

.navcontainer a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -.5px;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
}

.navcontainer a:hover{
    color: rgb(127, 0, 185);
    cursor: pointer;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
}

/* HEADER END */






/* SECTION 1 */

#section1 {
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#section1 img {
    width: 100%!important;
    overflow: hidden;
}
/* SECTION 1 END */





/* SECTION 2 */
#section2 {
    background-color: #0a0a0a;
    color: white;
    width: 100%;
    height: fit-content;
}

.s2cont {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0a0a0a;
}

.s2imgcont {
    width: 50%;
    height: 100%;
}

.s2imgcont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2textmain{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
}

.s2textcont{
    width: 550px;
    line-height: 27px;
    font-size: 19px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
    padding: 55px 38px;
    box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-border-radius: 15px;
}

.s2textcont h3 {
    color: rgb(127, 0, 185);
    font-size: 34px;
    margin-bottom: 16px;
}

.s2textcont p {
    font-size: 16px;
    font-weight: 400;

}

.s2textcont a {
    font-size: 26px;
    font-weight: 600;
    color: rgb(127, 0, 185);
    text-decoration: none;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
}

.s2textcont a:hover {
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    transform: translate(3%,1%) scale(1.1);
    -webkit-transform: translate(3%,1%) scale(1.1);
    -moz-transform: translate(3%,1%) scale(1.1);
    -ms-transform: translate(3%,1%) scale(1.1);
    -o-transform: translate(3%,1%) scale(1.1);
    text-decoration: underline;
    cursor: pointer;
}

/* SECTION 2 END */





/* SECTION 3 */

#section3 {
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    height: fit-content;
    background-color: #0a0a0a;
}

.s3headertext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    width: 100%;
    height: fit-content;
    padding: 100px 0;
}

.s3headertext h3 {
    color: rgb(127, 0, 185);
    font-size: 40px;
    margin-bottom: 14px;
}

.s3headertext p {
    color: white;
    padding: 0 100px;
}

.s3textcont {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.s3card {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 370px;
    height: fit-content;
    border-radius: 15px;
    border: 0px solid white;
    padding: 18px 18px;
    box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.s3card span {
    font-size: 22px;
    margin-bottom: 20px;
}

.s3card p {
    text-align: justify;
    font-size: 15px;
    line-height: 22px;
}


.s3promoscont {
    width: 100%;
    min-height: 700px;
    height: fit-content;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    padding-bottom: 190px;
}

.s3promoscard {
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    max-width: 80vw;
    /* height: fit-content; */
    height: 300px;
    border-radius: 15px;
    border: 0px solid white;
    padding: 0 0;
    box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.s3promoscard img {
    width: 40%;
    height: 300px;
    object-fit:cover;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
}

.s3promoscardtext {
    width: 60%;
    height: fit-content;
    display: flex;
    padding: 0 8%;
    flex-direction: column;
    align-items:baseline;
}

.s3promoscardtext span {
    color:#7f00b9;
    font-weight:900;
}

.s3promoscardtext h3 {
    font-size: 33px;
    margin-bottom: 30px;
    text-align: left;
}

.s3promoscardtext p {
    text-align: left;
    font-size: 18px;
    width: 100%;
}


.s3beneficioscont {
    width: 100%;
    height: 310px;
    background-image: url(./images/weedbanner.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.s3beneficioscard {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    max-width: 330px;
    height: fit-content;
    border-radius: 15px;
    border: 0px solid white;
    padding: 0 2%;
    /* box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75); */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.s3beneficioscard span {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.s3beneficioscard p {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    
}


/* SECTION 3 END */






/* SECTION 4 */

#section4 {
    background-image: url(./images/barbershop.png) ;
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4cont {
    width: 80%;
    height: 67%;
    background-color: #0a0a0a91;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    border: 0px solid white;
    padding: 0 0;
    box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
} 


.s4cont img {
    width: 40%;
    height: 100%;
    object-fit:cover;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
}

.s4cont span {
    color:#7f00b9;
    font-weight:900;
}

.s4cont h3 {
    font-size: 33px;
    margin-bottom: 30px;
    text-align: left;
}

.s4cont p {
    text-align: left;
    font-size: 18px;
    width: 100%;
}

.s4conttext {
    width: 60%;
    height: fit-content;
    display: flex;
    padding: 0 8%;
    text-decoration: none;
    cursor: pointer;
    flex-direction: column;
    align-items:baseline;
}

.s4conttext span {
    color:#7f00b9;
    font-weight:900;
}

.s4conttext h3 {
    font-size: 33px;
    margin-bottom: 40px;
    text-align: left;
}

.s4conttext p {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

.buttonBarber {
    margin-top: 30px;
    width: fit-content;
    height: 40px;
    border-radius: 150px;
    background-color: #0a0a0a1e;
    backdrop-filter: blur(3px);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

.buttonBarber img {
    width: 20px !important;
    height: 20px !important;
}

.buttonBarber span {
    color: white;
    font-weight: 500;
}

.buttonBarber:hover {
    transition: .4s all ease-in-out;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    transform: translate(0%,0%) scale(1.1);
    -webkit-transform: translate(0%,0%) scale(1.1);
    -moz-transform: translate(0%,0%) scale(1.1);
    -ms-transform: translate(0%,0%) scale(1.1);
    -o-transform: translate(0%,0%) scale(1.1);
    cursor: pointer;
}

.s3divider {
    margin:0 9px;
    width: 1px; 
    height: 70px; 
    background-color: rgba(255, 255, 255, 0.171);
}

/* SECTION 4 END */




/* SECTION 5 START */

#section5 {
    background-image: url(./images/coffee.jpg) ;
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s5maincont {
    width: fit-content;
    max-width: 50%;
    padding: 40px 20px;
    backdrop-filter: blur(4px);
    border-radius: 15px;
    background-color: #0a0a0a56;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.s5maincont span {
    color:#7f00b9;
    font-weight:900;
    
}

.s5maincont h3 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: left;
}

.s5maincont p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

/* SECTION 5 END */



/* SECTION 6 START */

#section6 {
    background-image: url(./images/shop.png) ;
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s6maincont {
    width: 100%;
    height: 100%;
    background-color: #0a0a0a8c;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s6img {
    width:auto;
    display: block;
}

.s6headercont {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.s6headercont h3 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: left;
}

.s6headercont p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

.s6contentcont {
    width: fit-content;
    max-width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

}

.s6contentcontspan {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    align-self: flex-start;
}

.s6contentcontp {
    text-align: left;
}



.s6cardcont {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    justify-content: space-around;
    gap:50px;
}

.s6card {
    max-width: 320px;
    width: fit-content;
    height: 250px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.s6cardtextcont {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #0a0a0a62;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.s6cardtext {
    border-radius: 0 0 8px 8px;
    padding: 14px;
    background-color: #0a0a0aa8;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
}

.s6cardtext span {
    font-size: 17px;
    font-weight: 600;
}

.s6cardtext p {
    font-size: 12px;
}


/* SECTION 6 END */

.nav-menu {
    display: none;
}

.hamburguer {
    display: none;
}

@media (max-width: 1000px) {
    .header {
        height: 70px;
        padding: 0  14px  0 25px   ;
    }
    .header img {
        width: 75px;
        z-index: 1000;
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
    }
    .navcontainer {
        display: none;
    }

    /* HAMBURGUER ANIMATED ICON */

    .hamburguer {
        display: block;
        cursor: pointer;
        z-index: 1000;
        flex-direction: column;
        margin: 16px 0px;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    .bar {

        display: block;
        width: 26px;
        height: 1px;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
        -webkit-transition: all 0.3s ease-in-out;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
    }



    .nav-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 100%;
        backdrop-filter: blur(10px);
        gap: 26px;
        font-size: 22px;
        padding-top: 70px;
        padding-right: 40px;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.363);
        align-items: flex-end;
    }

    .nav-menu.active {
        top: 0px;
        left: 0;
        backdrop-filter: blur(10px);
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
    }

    .dividers {
        width: 300px;
        height: 1px;
        background-color: rgb(168, 168, 168);
        margin: 0px auto;
        filter: blur(0px);
        opacity: .4;
        -webkit-filter: blur(0px);
    }

    .nav-link {
        font-size: 20px;
        margin: 7px 0;
        z-index: 100;
        color: white;
        text-decoration: none;
    }



    .s3headertext {
        padding: 65px 25px;    
    }

    .s3headertext h3 {
        font-size: 30px;
        margin-top: 0 !important;
    }

    .s3headertext p {
        font-size: 15px;
        padding: 0 !important;
    }

    .s3card span {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .s3card p {
        font-size: 14px;
    }

    .s3textcont {
        flex-direction: column;
        gap: 25px;
    }

    .s3beneficioscont {
        height: fit-content;
        flex-direction: column;
        gap: 30px;
        padding: 36px 25px; 
    }

    .s3beneficioscard span{
        font-size: 24px;
        margin-bottom: 15px;
    }

    .s3beneficioscard p {
        font-size: 14px;
    }

    .s3promoscont {
        padding-bottom: 60px;
    }

    .s3promoscardtext {
        padding: 0 20px;
    }

    .s3promoscardtext span {
        font-size: 13px;
    }

    .s3promoscardtext h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .s3promoscardtext p {
        font-size: 13px;
    }

    
    .s3promoscard {
        color:white;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70vw;
        max-width: 80vw;
        /* height: fit-content; */
        height: 270px;
        border-radius: 15px;
        border: 0px solid white;
        padding: 0 0;
        box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 25px 1px rgba(0,0,0,0.75);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .s3promoscard img {
        width: 40%;
        height: 270px;
        object-fit:cover;
        border-radius: 15px 0px 0px 15px;
        -webkit-border-radius: 15px 0px 0px 15px;
        -moz-border-radius: 15px 0px 0px 15px;
        -ms-border-radius: 15px 0px 0px 15px;
        -o-border-radius: 15px 0px 0px 15px;
    }

    .s3divider {
        margin:0 9px;
        height: 2px; 
        width: 200px; 
        background-color: rgba(255, 255, 255, 0.171);
    }

    footer {
        height: 490px !important;
        background-size: cover !important;
    }

    #section4 {
        height: fit-content;
        padding: 40px 0px;
    }

    .s4cont {
        width: 90%;
        height: fit-content;
        background-color: #0a0a0a91;
        backdrop-filter: blur(3px);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        border: 0px solid white;
    }

    .s4cont img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px 15px 15px 15px !important;
        -webkit-border-radius: 15px 15px 15px 15px !important;
        -moz-border-radius: 15px 15px 15px 15px !important;
        -ms-border-radius: 15px 15px 15px 15px !important;
        -o-border-radius: 15px 15px 15px 15px !important;
}

    .s4conttext {
        width: 100%;
        padding: 30px 25px;
    }

    .s4conttext span {
        font-size: 14px;
        line-height: 18px;
    }

    .s4conttext h3 {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .s4conttext p {
        font-size: 13px;
    }

    .buttonBarber {
        margin-top: 25px;
    }

    .buttonBarber span {
        font-size: 14px;
    }
    .buttonBarber img {
        width: 14px !important;
        height: 14px !important;
    }

    .s2cont {
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding: 65px 25px;
        align-items: center;
        background-color: #0a0a0a;
    }

    .s2imgcont {
        display: none;
    }

    .s2textmain {
        width: 100%;
    }

    .s2textcont {
        text-align: left;
    }

    .s2textcont h3 {
        font-size: 28px;
        align-self: center;
    }

    .s2textcont p {
        font-size: 15px;
    }

    .s2textcont a {
        font-size: 24px;
        text-decoration: none;
    }


    #section5 {
        height: fit-content;
    }

    .s5maincont {
        max-width: 100%;
        margin: 20px;
    }

    .s5maincont span {
        color:#7f00b9;
        font-weight:900;
        
    }
    
    .s5maincont h3 {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .s5maincont p {
        text-align: center;
        font-size: 13px;
        line-height: 15px;
        width: 100%;
    }

    #section6 {
        height: fit-content;
    }

    .s6cardcont {
        flex-direction: column;
        width: 100%;
    }

    .s6card {
        width: 100%;
        max-width: 100%;
    }

    .s6cardtext span {
        font-size: 18px;
    }

    .s6cardtext p {
        font-size: 13px;
    }

    .s6img {
        display: none;
    }
    
    .s6headercont {
        max-width: 95%;
        margin-top: 55px;
        margin-bottom: 20px;
    }

    .s6contentcont {
        text-align: justify;
        margin-bottom: 55px;
        max-width: 90%;
    }


    .s6headercont h3 {
        font-size: 30px;
    }

    .s6contentcontp {
        font-size: 14px;
    }

    .s6contentcontspan {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    .s6maincont {
        padding: 0;
    }

}

.wpp-logo {
    width: fit-content;
    height: fit-content;
    position: fixed;
    z-index: 2000;
    bottom: 35px;
    right: 40px;
}

.wpp-logo img {
    width: 60px;
    transition: all .3s ease-in-out;
}

.wpp-logo a {
    display: flex;
    /* transform: translateY(60px); */
    width: 60px;
    height: 60px;
    transition: all .3s ease-in-out;
    /* -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px); */
}

#map {
	height: 500px;
	width: 100%;
}

/* FOOTER */

footer {
    bottom: 0;
    border-top: 1px solid #7f00b9;
    background-image: url(images/footerbannerblur.jpg);
    background-repeat: space ;
    backdrop-filter: blur(4px);
    height: 300px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerDatos{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;    
}

.containerDatos > a {
    transition: color .2s ease-in-out;
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}

.containerDatos > a:hover {
    color: orange;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}

footer h3 {
    font-weight: 600;
    /* border-bottom: 1px solid orange; */
    width: fit-content;
}

footer p {
    font-size: 13px;
}

.logoFooter{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-17px);
    -webkit-transform: translateX(-17px);
    -moz-transform: translateX(-17px);
    -ms-transform: translateX(-17px);
    -o-transform: translateX(-17px);
}
footer > div > img {
    width: 250px;
}

.igFooter {
    width: 26px;
    height: 26px;
}

.igText {
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.containerCopy {
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(0, 0, 0);
    background-image: url(images/footerbannerblur.jpg);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerCopy{
    font-size: 12px;
}

.diseño {
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.copyright {
    font-size: 12px;
}

.copyright a {
    text-decoration: none;
}

@media (max-width: 1500px) {
    .s3promoscard {
        color:white;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90vw;
        max-width: 90vw;
    }

    .s2cont {
        height: 95%;
    }

    .s2textcont {
        width: 450px;
        padding: 35px 28px;
    }
    .s2textcont h3 {
        color: rgb(127, 0, 185);
        font-size: 29px;
        margin-bottom: 0px;
    }
    
    .s2textcont p {
        font-size: 13px;
        font-weight: 400;
    
    }
    
    .s2textcont a {
        font-size: 23px;
    }
}

@media (max-width: 1000px) {
    footer {
        flex-direction: column;
        height: 400px;
        padding-left: 20px;
    }

    .logoFooter{
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        display: none;
    }

    .containerCopy {
        flex-direction: column;
        gap: 1px;
        height: 100px;
        padding-bottom: 20px;
        
    }

    .containerDatos {
        padding-top: 30px;
    }

    footer > div > img {
        width: 60px;
        height: 55px;
    }

    .diseño {
        flex-direction: row;
        gap: 10px;
    }


}

@media (max-width:1500px){
    .s6contentcontspan{
        font-size: 25px;
    }
    .s6contentcontp{
        font-size: 14px;
    }
    .s6headercont h3 {
        font-size: 26px;
        font-weight: 600;
    }
    #section6 {
        height: fit-content;
    }
}

